.starship-search {
    display: flex;
    margin: 2rem auto;
    width: 70%;
    height: 120px;
    background-color: #fdfdfd;
    opacity: 80%;
    border-radius: .5rem;
}

.starship-search__input {
    display: flex;
    width: 70%;
    height: 60px;
    margin: auto;
    font-size: x-large;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom-color: #fdfdfd;
    background-color: #fdfdfd;
    color: gray;
    font-family: 'Big Shoulders Stencil Display', cursive;
}

.starship-search__button {
    display: flex;
    margin: auto;
}

.starship-search__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 33.33% 33.33% 33.33%;
    margin: 2rem auto;
    width: 70%;
    grid-gap: 1rem;
    margin: auto;
}

@media screen and (max-width: 768px) {
    .starship-search__grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        margin-top: 4rem;
    }

    .starship-search {
        height: 60px;
        display: block;
        border-radius: .5rem;
    }

    .starship-search__button {
        display: block;
        margin: .5rem;
    }
}