.title {
    background: black;
    height: 130px;
    display: flex;
}

.title-logo-link {
    width: 125px;
}

.title-logo {
    height: 100%;
}

.title-link {
    color: #fdfdfd;
    text-decoration: none;
    font-size: large;
    text-align: center;
    margin: auto 2rem;
}

@media screen and (max-width: 768px){
    .title-logo {
        display: none;
    }

    .title-logo-link {
        display: none;
    }

    .title-link {
        margin: auto;
    }
}