.title {
    background: black;
    height: 130px;
    display: flex;
}

.title__logo__link {
    width: 125px;
}

.title__logo {
    height: 100%;
}

.title__link {
    color: #fdfdfd;
    text-decoration: none;
    font-size: large;
    text-align: center;
    margin: auto 2rem;
}

@media screen and (max-width: 768px){
    .title__logo {
        display: none;
    }

    .title__logo__link {
        display: none;
    }

    .title__link {
        margin: auto;
    }
}