.footer{
    height: 60px;
    background-color: #4f515d;
    display: flex;
    align-items: self-end;
    border: none;
    margin: 3rem 0 0 0;
    opacity: 85%;
}

.footer-icon {
    height: 45px;
}