@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@600&display=swap');

.planetcard__image {
    height: 20px;
}

.planetcard__image:hover ~ .planetcard__information {
    visibility: visible;
}

.planetcard__information {
    background-color: #316f3d;
    opacity: 60%;
    border-radius: .5rem;
    width: fit-content;
    padding: .1rem 2rem 2rem 2rem;
    visibility: hidden;
}

.planetcard__title {
    font-size: x-large;
    font-family: 'Big Shoulders Stencil Display', cursive;
    text-align: center;
}

.planetcard__text {
    font-size: large;
    font-family: 'Big Shoulders Stencil Display', cursive;
    text-align: center;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 768px) {

    .tatoine {
        grid-area: tatoine;
        grid-column: 1 / 1;
        grid-row: 1 / 1;
    }

    .tatoine > img {
        height: 84px;
    }

    .alderaan {
        grid-area: alderaan;
        grid-column: 3 / 3;
        grid-row: 1 / 1;
    }

    .alderaan > img {
        height: 101px;
    }

    .yarvin {
        grid-area: yarvin;
        grid-column: 4 / 4;
        grid-row: 1 / 1;
    }

    .yarvin > img {
        height: 82px;
    }

    .bespin {
        grid-area: bespin;
        grid-column: 3 / 3;
        grid-row: 2 / 2;
    }

    .bespin > img {
        height: 300px;
    }

    .endor {
        grid-area: endor;
        grid-column: 5 / 5;
        grid-row: 2 / 2;
    }

    .endor > img {
        height: 39px;
    }

    .naboo {
        grid-area: naboo;
        grid-column: 5 / 5;
        grid-row: 3 / 3;
    }

    .naboo > img {
        height: 98px;
    }

    .coruscant {
        grid-area: coruscant;
        grid-column: 2 / 2;
        grid-row: 3 / 3;
    }

    .coruscant > img {
        height: 99px;
    }

    .hoth {
        grid-area: hoth;
        grid-column: 1 / 1;
        grid-row: 4 / 4;
    }

    .hoth > img {
        height: 58px;
    }

    .kamino {
        grid-area: kamino;
        grid-column: 3 / 3;
        grid-row: 4 / 4;
    }

    .kamino > img {
        height: 160px;
    }

    .dagobah {
        grid-area: dagobah;
        grid-column: 5 / 5;
        grid-row: 4 / 4;
    }

    .dagobah > img {
        height: 72px;
    }

}

@media screen and (max-width: 768px) {
    .planetcard__image {
        height: 120px;
        margin: 2rem;
    }

    .planetcard__information {
        visibility: visible;
        padding: .5rem;
        width: 220px;
    }

    .planetcard__title {
        margin: 1rem;
    }

    .planetcard__text {
        text-align: center;
        margin: .5rem;
    }

    .tatoine {
        display: flex;
        margin: 1.5rem;
        grid-row: 1 / 1;
        grid-column: 1 / 5;
    }

    .alderaan {
        display: flex;
        margin: 1.5rem;
        grid-row: 2 / 2;
        grid-column: 1 / 5;
    }

    .yarvin {
        display: flex;
        margin: 1.5rem;
        grid-row: 3 / 3;
        grid-column: 1 / 5;
    }

    .bespin {
        display: flex;
        margin: 1.5rem;
        grid-row: 4 / 4;
        grid-column: 1 / 5;
    }

    .endor {
        display: flex;
        margin: 1.5rem;
        grid-row: 5 / 5;
        grid-column: 1 / 5;
    }

    /* .endor > .planetcard__image {
        margin: 0;
    } */

    .coruscant {
        display: flex;
        margin: 1.5rem;
        grid-row: 6 / 6;
        grid-column: 1 / 5;
    }

    .naboo {
        display: flex;
        margin: 1.5rem;
        grid-row: 7 / 7;
        grid-column: 1 / 5;
    }

    .hoth {
        display: flex;
        margin: 1.5rem;
        grid-row: 8 / 8;
        grid-column: 1 / 5;
    }

    .kamino {
        display: flex;
        margin: 1.5rem;
        grid-row: 9 / 9;
        grid-column: 1 / 5;
    }

    .dagobah {
        display: flex;
        margin: 1.5rem;
        grid-row: 10 / 10;
        grid-column: 1 / 5;
    }
}