.banner-container {
    height: 700px;
    margin: auto;
}

.banner {
    background-color: #fdfdfd;
    height: 600px;
    width: 80%;
    margin: auto;
}

.banner-introduction {
    background: #000 url("../../assets/bg.jpg");
}